<aside class="bocniPanel">
	<label for="panel-checkbox" class="bocniPanel__zaviratko">
		<img src="/obrazky/krizek.svg" width="24" height="24" alt="zavřít boční panel">
	</label>
	<h2>Boční panel</h2>
	<ul>
		<li>
			<a href="#">O nás</a>
		</li>
		<li>
			<a href="#">E-shop</a>
		</li>
		<li>
			<a href="#">Kariéra</a>
		</li>
		<li>
			<a href="#">Časté dotazy</a>
		</li>
		<li>
			<a href="#">Kontakt</a>
		</li>
	</ul>
</aside>
